html,
body { background-color: var(--body-color); }

body {
  min-height: 100vh;
}

.shadow { box-shadow: $shadow; }

.border-radius { border-radius: $default-radius; }

*::selection {
  background: var(--secondary-dark);
  color: var(--white);
}