body {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  word-break: break-word;
  hyphens: auto;
}

h1,
h2,
h3,
.font-huge {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin-bottom: 1.2rem;
}

h1, .font-huge { font-size: 2.5rem; }
h2             { font-size: 1.5rem; }
h3,            { font-size: 1rem; }

p {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.font-huge { line-height: 2.8rem; }

@media screen and (min-width: $medium) {
  h1,
  h2,
  h3,
  .font-huge {
    margin-bottom: 1.5rem;
  }

  h1, .font-huge { font-size: 3rem; }
  h2             { font-size: 2rem; }
  h3,            { font-size: 1.5rem; }

  p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .font-huge { line-height: 3.2rem; }
}

a {
  color: $secondary;
  text-decoration: none;
  font-weight: 600;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.font-bold { font-weight: 900; }

.font-featured {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px $black;
}