// Colour
 
:root { 
  --white:           #fafafa;
  --light-gray:      #f5f5f5;
  --black:           #2e2e2e;
  --purple:          #620bad;
  --dark-blue:       #040011;
  --medium-blue:     #009fa0;
  --secondary:       #ff0052;
  --secondary-light: #ff5188;
  --secondary-dark:  #d60045;

  --text-color:   var(--black);
  --body-color:   var(--white);
  --link-default: var(--secondary);
  --link-hover:   var(--secondary-dark);
  --card-color:   var(--white);
  
  @media (prefers-color-scheme: dark) {
    --text-color:   var(--white);
    --body-color:   var(--dark-blue);
    --link-hover:   var(--secondary-light);
    --card-color:   var(--black);
  }
}

$default-padding : 1.5rem;
$default-radius : 1rem;

$shadow: 0 5px 14px 1px rgba(0, 0, 0, 0.10),
         0 8px 16px 6px rgba(0, 0, 0, 0.05);