.isometric-banner {
  @media screen and (max-width: $medium) {
    img {
      margin-bottom: -5rem;
      transform: translateX(-$default-padding);
    }
    .container div { padding: $default-padding; }
  }

  @media screen and (min-width: $large) {
    img {
      width: auto;
      max-width: 60vw;
      margin-bottom: -25rem;
    }
    .container div { flex-basis: 60%; }
  }
}

.colors-banner {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  background-color: #f5f5f5;
  @media screen and (max-width: $medium) {
    height: 25rem;
    align-items: flex-end;
    .container div { padding: $default-padding; }
  }
  @media screen and (min-width: $large) {
    height: 28rem;
    .container div { flex-basis: 45%; }
  }
}