.isometric-banner {
  @media screen and (max-width: $medium) {
    img {
      margin-bottom: -5rem;
      transform: translateX(-$default-padding);
    }
    .container div { padding: $default-padding; }
  }

  @media screen and (min-width: $large) {
    img {
      width: auto;
      max-width: 60vw;
      margin-bottom: -25rem;
    }
    .container div { flex-basis: 60%; }
  }
}

.colors-banner {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100%;
  background-color: var(--light-gray);
  @media screen and (max-width: $medium) {
    padding: 65% 0 2rem;
    padding-top: 65%;
    align-items: flex-end;
    .container div { padding: $default-padding; }
  }
  @media screen and (min-width: $large) {
    padding: 5rem 0 6rem;
    background-size: 50%;
    .container div { flex-basis: 45%; }
  }
  @media (prefers-color-scheme: dark) {
    background-color: var(--black);
  }
}

.gray-banner {
  background-color: var(--light-gray);
  
  @media (prefers-color-scheme: dark) {
    background-color: var(--black);
  }
}

.desktop-nav-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  img {
    width: auto;
    max-width: 1400px;
    @media screen and (max-width: $medium) {
      max-width: 1000px;
    }
  }
}