$device-border-mobile:  .4rem;
$device-border-desktop: 1rem;

.device {
  display: flex;
  align-items: center;
  position: relative;
  padding: $device-border-mobile;
  background: $white;
  border-radius: .8rem;
  overflow: hidden;
  box-shadow: $shadow;

  &.mobile  {
    position: absolute;
    right: 0;
    width: 28%;
  }

  &.desktop { width: 85%; }

  &.mobile &__screen  { padding-top: calc(1792 / 828  * 100%); }
  &.desktop &__screen { padding-top: calc(2048 / 2732 * 100%); }

  @media screen and (min-width: $medium) {
    padding: $device-border-desktop;
    border-radius: 2rem;
  }

  &__screen {
    position: relative;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    
    img {
      position: absolute;
      top: 0;
      width: 100%;
    }

    @media screen and (min-width: $medium) {
      border-radius: 1.2rem;
    }
  }

  @media screen and (min-width: $medium) {
    &.scroll &__screen { overflow-y: scroll; }

    &.scroll.animation img               { transform: translateY(-5rem); }
    &.scroll.animation.play img          { animation: scroll-animation 1s forwards; }
    &.scroll.animation + &.animation img { animation-delay: .2s; }

    @keyframes scroll-animation {
      0%   { transform: translateY(-5rem); }
      100% { transform: translateY(0); }
    }
  }
}
