.profile-picture {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  &__img{
    height: 80vh;
    background-size: cover;
    background-position-x: 50%;
    background-color: #dddddd;
    border-radius: 5px;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 64vh;
    height: 80vh;
    transform: translateX(-50%);
    clip-path: url(#profile-clip);
    overflow: hidden;
  }
  &__bg-effect {
    overflow: hidden;
    height: calc(100% + 9rem);
    width: calc(100% + 9rem);
    background-repeat: repeat;
    background-size: 4.5rem;
    transform: translate(-4.5rem, -4.5rem);

    &.play {
      animation: bg-motion 6s linear infinite;
      @keyframes bg-motion {
        0% {
          transform: translate(-4.5rem, -4.5rem);
        }
        100% {
          transform: translate(0, -9rem);
        }
      }
    }
  }
}