.project-tags {
  transform: translateY(-.5rem);
  margin: -0.2rem -0.2rem 1rem;
  user-select: none;
  @media screen and (min-width: $medium) {
    transform: translateY(-1rem);
  }
  span {
    display: inline-block;
    margin: .2rem;
    border: 1px solid var(--black);
    padding: .3rem .5rem;
  }
}